:root{
    --hovercolor: rgba(0, 204, 255, 0.733);
    --textcolor:rgb(212, 209, 209);
}

.transition-fade {
    opacity:1;
    transition: 700ms;
    transform: translateX(0);
    transform-origin: left;
} 

 html.is-animating .transition-fade {
    opacity:1;
    transform: translateX(80% );
}

html.is-leaving .transition-fade{
    opacity:0;
    transform: translateX(0);
}



.center {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--textcolor);
    font-size: 35px;
    margin:20px;
}

.breadcrumb li a {
    color: white;
}

.breadcrumb li a:hover {
    color: var(--hovercolor);
}

#contacts, #ptitle{
    text-decoration: none;
}

#contacts:hover, #ptitle:hover{
    color:var(--hovercolor);
}

.bordercol{
    border: solid 2px rgba(240, 191, 29, 0.747);
    border-radius: 40px 40px 40px 40px;
    margin-bottom: 15px;
    margin-top: 15px;
}

.cen {
    text-align: center;
}


/* make the text wavy */
.wavy {
    position: relative;
}

.wavy span {
    position: relative;
    display: inline-block;
    font-size: 1.8em;
    text-transform: uppercase;
    animation: animate 2s ease-in-out infinite;
    animation-delay: calc(0.1s * var(--i));
}

@keyframes animate {
    0% {
        transform: translateY(0px);
    }

    20% {
        transform: translateY(-20px);
    }

    40%,
    100% {
        transform: translateY(0px);
    }
}