:root{
    --primary-color:rgba(18, 21, 22, 0.75);
    --overlay-color:rgba(24,39,51,0.85);
    --menu-speed:0.75s;
}

*{
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: "Josefin Sans", sans-serif;
    line-height: 1.4;
}
.showcase {
    background-color: var(--primary-color);
    color: white;
    height: 100vh;
    position: relative;
}

